html {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
*{
    margin: 0;
    padding: 0;
}

#header {
    display: grid;
    grid-template-columns: 1fr repeat(4, 60px);
    grid-template-rows: 45px;
    margin-top: 10px;
    margin-right: 20px;
    grid-template-areas:
            ". post image menu singIn";
    justify-items: center;
    align-items: center;
}
#header img {
    height: 20px;
    width: 20px;
    opacity: 0.7;
}
#header img:hover {
    opacity: unset;
}
a, p {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-family: Arial;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}
#post {
    grid-area: post;
}
#image {
    grid-area: image;
}
#menu {
    grid-area: menu;
}
#singIn {
    grid-area: singIn;
    background-color:#4387fd;
    height: 30px;
    width: 65px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
}
#singIn:hover{
    color: white;
    text-decoration: none;
}
#content {
    display: grid;
    grid-template-columns: 390px 1fr 390px;
    grid-template-rows: 200px 70px 88px 1fr;
    grid-template-areas:
            ". logo ."
            ".search."
            ".buttons."
            ".googleText.";
}
#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}
#search {
    grid-area: search;
    justify-self: center;
    align-self: center;
    width: 85%;
    border-radius: 30px;
    border: 1px solid #c1c1c1;
    height: 55%;
    padding-left: 40px;
    padding-right: 40px;
    background: url("./components/search.png")no-repeat 10px;
}
#search:focus {
    box-shadow: 1px 1px 5px gray;
}
#search:hover {
    box-shadow: 1px 1px 5px gray;
}

#buttons {
    grid-area: buttons;
    justify-self: center;
    align-self: center;
}
#googleSearch {
    border: none;
    font-size: 15px;
    color: #5f6368;
    padding: 10px;
    border-radius: 3px;
    margin-right: 10px;
}
#randomSearch {
    border: none;
    font-size: 15px;
    color: #5f6368;
    padding: 10px;
    border-radius: 3px;
}
#googleSearch:hover {
    border: 1px solid #d8d8d8;
    color: black;
}
#randomSearch:hover {
    border: 1px solid #d8d8d8;
    color: black;
}
#googleText {
    grid-area: googleText;
    justify-self: center;
}
#googleText a {
    color: #000099;
}
#footer {
    display: grid;
    grid-template-columns: 85px 110px 115px 210px 480px 175px 80px 80px;
    grid-template-rows:40px 40px;
    grid-template-areas:
            "bel . . . . . . ."
            "ads business about howItWork . privacy conditions option";
    justify-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    border: 1px solid #c3c3c3;
    width: 99.9%;
}
#bel {
    grid-area: bel;
    background-color: #f2f2f2;
    justify-self: center;
    align-self: center;
    margin-left: 5px;
}
#bel a {
    text-decoration: none;
    color: #737373;
    font-size: 14px;
}
#ads {
    grid-area: ads;
    color: #737373;
    font-size: 14px;
}
#business {
    grid-area: business;
    color: #737373;
    font-size: 14px;
}
#about {
    grid-area: about;
    color: #737373;
    font-size: 14px;
}
#howItWork {
    grid-area: howItWork;
    color: #737373;
    font-size: 14px;
}
#privacy {
    grid-area: privacy;
    color: #737373;
    font-size: 14px;
}
#conditions {
    grid-area: conditions;
    color: #737373;
    font-size: 14px;
}
#option {
    grid-area: option;
    color: #737373;
    font-size: 14px;
}
